a.nav-item[b-05nkh0zvb0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.koulen[b-05nkh0zvb0]{
  font-family: 'Koulen', cursive;
}
.kumar[b-05nkh0zvb0]{
  font-family: 'Kumar One', cursive;
}
.noto[b-05nkh0zvb0]{
  font-family: 'Noto Sans', sans-serif;
}

#icone[b-05nkh0zvb0]{
  width: 50px ;
  height: 50px ;
}



.btn-primary[b-05nkh0zvb0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-05nkh0zvb0], .nav-pills .show > .nav-link[b-05nkh0zvb0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-05nkh0zvb0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-05nkh0zvb0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-05nkh0zvb0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-05nkh0zvb0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-05nkh0zvb0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
